{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% block title %}Create course{% endblock %}
<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-conten padding-y bg">
<!--{% include 'includes/alerts.html' %}-->
    <br>
    <br>
    <br>
    <br>

<div class="container">
	<div class="row">
	{% if user.is_staff%}
	{% include 'includes/TeacherdashboardSide.html'%}
	{% else%}
    {% include 'includes/dashboardSide.html'%}
    {%endif%}
	<main class="col-9">
		<article class="card">
		<header class="card-header text-center">
			<strong class="d-inline-block mr-3"> {%trans 'Create my course'%} </strong>

		</header>

		<div class="card-body">
            <div class="text-center">
                {% if course_img.img %}
				  <img  height="200" class="rounded-circle mb-0" style="margin:20px"  src="{{course_img.img.url}}" alt="{%trans 'course picture'%}">



				  {% else%}
				  <img  height="100" class="rounded-circle mb-0" style="margin:20px"  src="{% static 'img/course.png'%}" alt="{%trans 'course picture'%}">
				  {% endif %}

            </div>



			<div class="row">

				<div class="col-md-12">
				<form action="{%if '/MakeMyCourse/' in request.path %}{% url 'MakeMyCourse'%}{%endif%} {%if '/editCourse/' in request.path %}{% url 'editCourse' id %}{%endif%}" method="POST"  data-url="{% url 'MakeMyCourse'%}" enctype="multipart/form-data" id="stud_registration_form">
                    {% csrf_token%}
                     <div class="form-row text-center">
                        <div class="form-group col-md-12 alert-success">
                            <label>{%trans 'is the Course school subject?'%}</label>
                            {{TeacherMakeMyCourseForm.is_school_subject}}
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label>{%trans 'English Course Name'%}<span style="color:red">*</span></label>
                           {{TeacherMakeMyCourseForm.course_name}}
                            <small id='small' class="form-text text-muted">{%trans 'pick a unique course Name'%}</small>
                       <div style="color: red;" > {{TeacherMakeMyCourseForm.course_name.errors|escape}} </div>
                       <div style="color: red; display:none;" id="stud_email_err"> {%trans 'Course Name already exists! Use another one!!'%} </div>


                        </div>
                        </div>
                         <div class="form-group col-md-6 col-sm-12">
                            <label>{%trans 'Arabic Course Name'%}<span style="color:red">*</span></label>
                            {{TeacherMakeMyCourseForm.course_name_ar}}
                            <small class="form-text text-muted">{%trans 'pick a unique course Name'%}</small>
                           <div style="color: red;"> {{TeacherMakeMyCourseForm.course_name_ar.errors|escape}} </div>
                           <div style="color: red; display:none;" id="stud_email_errAR"> {%trans 'Course Name already exists! Use another one!!' %} </div>
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label>{%trans 'Course first language'%}<span style="color:red">*</span></label>
                            {{TeacherMakeMyCourseForm.language1}}
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label>{%trans 'Course second language'%}</label>
                            {{TeacherMakeMyCourseForm.language2}}
                        </div>
                         <div class="form-row">
                        <div class="form-group col-md-4 col-sm-12">

                            <label>{%trans 'Course country'%}<span style="color:red">*</span></label>
                            {{TeacherMakeMyCourseForm.country}}

                        </div>


                        <div class="form-row">

                         <div class="form-group col-md-6 col-sm-12">
                            <label>{%trans 'Course image'%}<span style="color:red">*</span></label>
                           {{TeacherMakeMyCourseForm.img}}
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>{%trans 'Youtube link'%}</label>
                           {{TeacherMakeMyCourseForm.youtubeUrl}}
                            <small class="form-text text-muted">{%trans 'if you have course presentation video on youtube '%}</small>
                            <small class="form-text text-muted">{%trans 'Get the Url from youtube video> share> Embed> src="url" '%}</small>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label>{%trans 'Curriculum type in English'%}<span style="color:red">*</span></label>
                            {{TeacherMakeMyCourseForm.typeEN}}
                        <small class="form-text text-muted">{%trans 'Hold'%} Ctrl {%trans 'to choose more than one'%}</small>

                        </div>
                         <div class="form-group col-md-4   col-sm-12">
                            <label>{%trans 'Curriculum type in Arabic'%}<span style="color:red">*</span></label>
                            {{TeacherMakeMyCourseForm.typeAR}}
                            <small class="form-text text-muted">{%trans 'Hold'%} Ctrl {%trans 'to choose more than one'%}</small>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 ">
                            <label>{%trans 'Course grades'%}<span style="color:red">*</span></label>
                            {{TeacherMakeMyCourseForm.courseGrades}}
                            <small class="form-text text-muted">{%trans 'Hold'%} Ctrl {%trans 'to choose more than grade'%}</small>
                        </div>


                    </div>
                     <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label>{%trans 'Course description in English(what will you give in the course?)'%}</label>
                            {{TeacherMakeMyCourseForm.description}}
                        </div>
                         <div class="form-group col-md-6  col-sm-12">
                            <label>{%trans 'Course description in Arabic(what will you give in the course?)'%}</label>
                            {{TeacherMakeMyCourseForm.description_ar}}
                        </div>

                    </div>



                     <div class="form-row text-center ">

                           <div class="form-group  ">


                    <input style="width:200px;" type="submit" value="{%trans 'save'%}" class="btn btn-success">
                    <a style="width:200px;" id="discard" href="{%if '/MakeMyCourse/' in request.path %}{% url 'TeacherDashboard'%}{%endif%} {%if '/editCourse/' in request.path %}{% url 'editMyCourse'  %}{%endif%}" class="btn btn-danger ">{%trans 'Discard'%}</a>
                           </div>

                     </div>



			         <div style="color: red;">{{TeacherMakeMyCourseForm.non_field_errors}}</div>
                </form>

				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<script type='text/javascript'>
// ========================================= start discard
let discardButton = document.getElementById('discard');
$("#stud_registration_form :input").change(function() {
   $("#stud_registration_form").data("changed",true);
});
discardButton.onclick = function() {
    if ($("#stud_registration_form").data("changed")) {

     let accepted = confirm("{% trans 'Are you sure you want to cancel changes?' %}");
    if (accepted) {
        document.getElementById('discard').submit();
    }else{
        event.preventDefault();
    }

}

}
// ========================================= end discard
// ========================================= end discard
// =======================================ajax

function emailError(error) {
  if (!error) {
    $("#stud_email_err").hide();
    $("#id_course_name").css("border-bottom", "2px solid #34F458");
    $('input[type="submit"]').prop('disabled', false);
  } else {

    $("#stud_email_err").show();
    $("#id_course_name").css("border-bottom", "2px solid #F90A0A");
    $('input[type="submit"]').prop('disabled', true);
  }
}

$("#id_course_name").change(function() {
   $("#id_course_name").data("changed",true);
});
$("#id_course_name").blur(function() {
   if ($(this).data("changed")) {
    const email = $(this).val();
  $.ajax({
    data: $(this).serialize(),
    url: $(this).closest('form').data("url"),
    success: function(response) {

      if (response.is_taken) {


        emailError("error");
      } else {

        emailError(null);
      }

    },
    error: function(response) {
      console.log(response.errors);
    },
  });}
});
// =======================================ajax arabic
function emailErrorAR(error) {
  if (!error) {
    $("#stud_email_errAR").hide();
    $("#id_course_name_ar").css("border-bottom", "2px solid #34F458");
    $('input[type="submit"]').prop('disabled', false);
  } else {
    $("#stud_email_errAR").show();
    $("#id_course_name_ar").css("border-bottom", "2px solid #F90A0A");
    $('input[type="submit"]').prop('disabled', true);
  }
}
$("#id_course_name_ar").change(function() {
   $("#id_course_name_ar").data("changed",true);
});

$("#id_course_name_ar").blur(function() {


   if ($(this).data("changed")) {
   const email = $(this).val();
  $.ajax({
    data: $(this).serialize(),
    url: $(this).closest('form').data("url"),
    success: function(response) {

      if (response.is_takenAr) {

        emailErrorAR("error");
      } else {

        emailErrorAR(null);
      }

    },
    error: function(response) {
      console.log(response.errors);
    },
  });}
});
// =======================================ajax

$(function() {
  $("#id_course_name,#id_description").keypress(function(event) {
    var ew = event.key;
    if (ew == "ب" || ew == "خ" || ew == "أ" || ew == "ت" ||ew == "ث" || ew == "ج" ||ew == "ح" || ew == "د" ||ew == "ذ" || ew == "ر" || ew == "ز" || ew == "س" ||ew == "ش" || ew == "ص" ||ew == "ض" || ew == "ط" ||ew == "ظ" || ew == "ع" || ew == "غ" || ew == "ف" ||ew == "ق" || ew == "ك" ||ew == "ل" || ew == "م" ||ew == "ن" || ew == "ه" || ew == "و" || ew == "ي" ||ew == "ا" || ew == "آ" ||ew == "ى" || ew == "ئ" ||ew == "ة" || ew == "ؤ" || ew == "ء" || ew == "َ " ||ew == "ّ " )
      {$(this).css("border", "2px solid #F90A0A")
      return false;
     }else { $(this).css("border", "2px solid #34F458")
      return true;
      }
  });
});
// ===============
$(function() {
  $("#id_course_name_ar,#id_description_ar").keypress(function(event) {
    var ew = event.which;
    if (65 <= ew && ew <= 90){
     $(this).css("border", "2px solid #F90A0A")
     return false;
    }

    if (97 <= ew && ew <= 122)
     {
     $(this).css("border", "2px solid #F90A0A")
     return false;
    }
    $(this).css("border", "2px solid #34F458")
    return true;




  });

});


if($('#id_is_school_subject').not(':checked').length > 0){

    document.getElementById('id_typeEN').disabled = true;
    document.getElementById('id_typeEN').value = '';
    document.getElementById('id_typeAR').disabled = true;
    document.getElementById('id_courseGrades').disabled = true;
    document.getElementById('id_country').disabled = true;
    document.getElementById('id_typeAR').value = '';
    document.getElementById('id_courseGrades').value = '';
    document.getElementById('id_country').value = '';


} else {

    document.getElementById('id_typeEN').disabled = false;
    document.getElementById('id_typeAR').disabled = false;
    document.getElementById('id_courseGrades').disabled = false;
    document.getElementById('id_country').disabled = false;


}

const checkbox = document.getElementById('id_is_school_subject');

checkbox.addEventListener('change', (event) => {
        if (event.target.checked) {
            document.getElementById('id_typeEN').disabled = false;
            document.getElementById('id_typeAR').disabled = false;
            document.getElementById('id_country').disabled = false;
            document.getElementById('id_courseGrades').disabled = false;
            document.getElementById('id_courseGrades').required = true;
            document.getElementById('id_typeAR').required = true;
            document.getElementById('id_courseGrades').required = true;
            document.getElementById('id_country').required = true;


} else {
            document.getElementById('id_typeEN').disabled = true;
            document.getElementById('id_courseGrades').disabled = true;
            document.getElementById('id_typeAR').disabled = true;
            document.getElementById('id_country').disabled = true;
             document.getElementById('id_typeEN').value = '';
             document.getElementById('id_country').value = '';
             document.getElementById('id_typeAR').value = '';
             document.getElementById('id_courseGrades').value = '';
             document.getElementById('id_courseGrades').required = false;
             document.getElementById('id_typeAR').required = false;
             document.getElementById('id_typeEN').required = false;
             document.getElementById('id_country').required = false;

    }
})


</script>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
