{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% block title %}Profile rejected{% endblock %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->


    <div class="container mx-auto text-center"  style="max-width: 1024px; margin-top:100px;">
        <div class="card" >
  <div class="card-body">

      <p class="card-text"><strong>{%trans 'Thank you for Registration to be one of us. But Unfortunately your qualifications doesn't meet our criteria'%} <span>&#x1F61E;</span>.</strong></p>
    <a href="{% url 'complains'%}" class="btn btn-success">{%trans 'Want to complain?'%}</a>
  </div>
</div>



        </div>


<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
