{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}Teacher Registration{% endblock %}

<!-- ========================= SECTION CONTENT ========================= -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<br>
	<br>
	<br>
<!-- 	========================================modal -->
<div class="container text-center">

  <!-- Trigger the modal with a button -->
  <button {% if LANGUAGE_CODE == 'en'%} style="direction: ltr;" {%else%} style="direction: rtl;" {% endif %} type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">{% trans 'Tell me more'%} !!</button>

  <!-- Modal -->
  <div  class="modal  fade" id="myModal" role="dialog">
    <div class="modal-dialog ">

      <!-- Modal content-->
      <div {% if LANGUAGE_CODE == 'en'%} style="direction: ltr;" {%else%} style="direction: rtl;" {% endif %} class="modal-content">
        <div class="modal-header alert-primary">

          <h4 style="color:black;" class="modal-title ">{% trans 'Be one of our family'%}!! &#128522;</h4>
        </div>
        <div style="color:black;" class="modal-body alert-success">
          <h4>{% trans 'When your profile get accepted, now you are one of our partners,create your own course and  get paid as shown below'%}..</h4>
          <div style="direction: ltr;">
          <h5 {% if LANGUAGE_CODE == 'en'%} style="direction: ltr;" {%else%} style="direction: rtl;" {% endif %}> {%trans 'Ranking system in 3 months period'%}..</h5>
	<p>0 to10 classes => 0&#x2B50;=>your course share 70% </p>
	<p>10 classes =>&#x2B50;=>  your course share 72% </p>
	<p>30 classes =>&#x2B50;&#x2B50;=> your course share 75% </p>
	<p>50 classes =>&#x2B50;&#x2B50;&#x2B50;=> your course share 80% </p>
	<p>70 classes =>&#x2B50;&#x2B50;&#x2B50;&#x2B50;=> your course share 85% </p>
	<p>90 classes =>&#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;=> your course share 90% </p>
	</div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close'%}</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">{% trans 'Join now'%}</button>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- 	========================================modal -->
	<br>
	<div class="card mx-auto" style="max-width:800px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title text-center">{%trans 'Teacher Registration Form'%}</h4></header>
		<form action="{%url 'teacherProfile'%}" method="POST" enctype= multipart/form-data>
			{%csrf_token%}

							<div class="form-row">
					<div class="col form-group ">
<!--						<label>First name</label>-->
						{{form.country}}
						<small class="text-muted">{%trans 'Country you teach in (Required)'%}<span style="color:red">*</span></small>
					</div> <!-- form-group end.// -->
					<div class="col form-group ">
<!--						<label>Last name</label>-->
					  	{{form.city}}
				<small class="text-muted">{%trans 'City you teach in (optional)'%}</small>

					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
<!--				<div class="form-group">-->
<!--					<label>Email</label>-->
<!--						{{form.email}}-->
<!--					<small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--				</div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
<hr style="height:2px;border-width:0;color:gray;background-color:black;">

				<div class="form-row">

					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.qualifications1}}
						<small class="text-muted">{%trans 'eg. BSC in Education Arabic dep.(Required)'%}<span style="color:red">*</span></small>
					</div> <!-- form-group end.// -->

					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.qualifications2}}
							<small class="text-muted">{%trans '2nd Academic Degree(optional)'%}</small>
					</div> <!-- form-group end.// -->
					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.qualifications3}}
							<small class="text-muted">{%trans '3rd Academic Degree(optional)'%}</small>
					</div> <!-- form-group end.// -->
					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.qualifications4}}
							<small class="text-muted">{%trans '4th Academic Degree(optional)'%}</small>
					</div> <!-- form-group end.// -->


				</div> <!-- form-row.// -->
			<hr style="height:2px;border-width:0;color:gray;background-color:black;">
			<div class="form-row">
					<div class="form-group ">
<!--						<label>Email</label>-->
						{{form.specialzed_courses1}}
						<small class="text-muted">{%trans 'subject you teach.(Required)'%}<span style="color:red">*</span></small>
					</div> <!-- form-group end.// -->
					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.specialzed_courses2}}
					<small class="text-muted">{%trans '2nd subject you teach(optional)'%}</small>
					</div> <!-- form-group end.// -->
					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.specialzed_courses3}}
					<small class="text-muted">{%trans '3rd subject you teach(optional)'%}</small>
					</div> <!-- form-group end.// -->
		<hr style="height:2px;border-width:0;color:gray;background-color:black;">
				<div class="form-group ">
<!--						<label>Email</label>-->
						{{form.grades}}
						<small class="text-muted">{%trans 'Grades you teach.'%}(1-12)</small>
					</div> <!-- form-group end.// -->
			<hr style="height:2px;border-width:0;color:gray;background-color:black;">

				<div class="form-row">
					<div class="form-group ">
<!--						<label>Create password</label>-->
						{{form.IBAN}}
                <small class="text-muted">{%trans 'to transfer your money.(you can fill later)'%}</small>
					</div> <!-- form-group end.// -->
					<div class="form-group ">
<!--						<label>Repeat password</label>-->
					 {{form.BankName}}
						<small class="text-muted">{%trans 'to transfer your money.(you can fill later)'%}</small>
					</div>
					<div class="form-group ">
<!--						<label>Repeat password</label>-->
					 {{form.BankCountry}}
						<small class="text-muted">{%trans 'to transfer your money.(you can fill later)'%}</small>
					</div> <!-- form-group end.// -->

					<hr style="height:2px;border-width:0;color:gray;background-color:black;">
					<div class="form-group ">
<!--						<label>Repeat password</label>-->
					 {{form.docfile}}
						<small class="text-muted">{%trans 'upload CV.(Required-pdf only less than 2MB)'%}  <span style="color:red">*</span></small>
					</div> <!-- form-group end.// -->
					<hr style="height:2px;border-width:0;color:gray;background-color:black;">
						<div class="form-group ">
<!--						<label>Email</label>-->
						{{form.Experience}}
							<small class="text-muted">{%trans 'Recap your Experience.'%}</small>
					</div> <!-- form-group end.// -->
					<hr style="height:2px;border-width:0;color:gray;background-color:black;">
					<div class="form-group ">
<!--					  <label>phone No.</label>-->
							{{form.Notes}}
							<small class="text-muted">{%trans 'Any thing you want to say about yourself (optional)'%}</small>
					</div> <!-- form-group end.// -->
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> {%trans 'Register'%}  </button>
			    </div> <!-- form-group// -->
				{{form.email.errors}}

			{{form.non_field_errors}}
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->


    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>

{% endblock %}

