{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% block title %}Orders{% endblock %}
<style>
th,td{
    text-align: center !important;
}
</style>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <br>
    <br>
    <br>
    <br>
<!--{% include 'includes/alerts.html' %}-->

<div class="container">
	<div class="row">
{% include 'includes/TeacherdashboardSide.html'%}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">{%trans 'My Courses:'%} </strong>

		</header>
		<div class="card-body">
			<div class="row">

				<div class="col-md-12 text-center">
				<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col" >{%trans 'Course id #'%}</th>
      <th scope="col">{%trans 'Course English Name'%}</th>
      <th scope="col">{%trans 'Course Arabic Name'%}</th>
      <th scope="col">{%trans 'Status'%}</th>
    </tr>
  </thead>
  <tbody>
  {% for i in TeacherCourses %}
    <tr>
      <th scope="row" ><a href="{% url 'editCourse' i.id %}"> {{i.id}} </a></th>
      <td>{{i.course_name}} </td>
      <td>{{i.course_name_ar}}  </td>
      <td>{% if i.is_active %}{%trans 'Published'%}{%else %} {%trans 'Processing'%} {%endif%}  </td>




    </tr>
  {% endfor %}

  </tbody>
</table>
				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
