{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% block title %}Teacher Dashboard{% endblock %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
<!--{% include 'includes/alerts.html' %}-->
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row">
{% include 'includes/TeacherdashboardSide.html'%}
	<main class="col-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">{%trans 'login as Teacher:'%} </strong>
			<span>{{user.first_name}} {{user.last_name}}</span>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
				<div class="card text-center">
					<div class="card-body">
						<div class="row">
				<div class="col-md-6">
					<div class="card text-center">
						<h5 class="card-title"> {%trans 'Total Courses'%} </h5>
						<h4>{{orders_count}}</h4>
						{%if orders_count%}
						<a href="{%url 'TeacherOrders'%}">{%trans 'View courses'%}</a>

						{%else%}
						<label class="text-muted" >{%trans 'NO Courses Yet'%}</label>
						{%endif%}
						</div>
				</div>
							<div class="col-md-6">
								<div class="card text-center">



						<h5 class="card-title"> {%trans 'Active Courses'%} </h5>
						<h4>{{active_orders_count}}</h4>
						{%if active_orders_count %}
						<a href="{%url 'TeacherActiveOrders'%}">{%trans 'View courses'%}</a>
						{%else%}
						<label class="text-muted" >{%trans 'NO Courses Yet'%}</label>
						{%endif%}

							</div>
				</div>
				</div>
						<div class="row  mt-2 ">
							<div class="col-md-6 ">
					<div class="card ">
						<h5 class="card-title"> {%trans 'Total Balance'%} </h5>
						<h4>{{Balance}} $</h4>
						{%if Balance is not 0 %}
						<a href="{%url 'ReceivedInstallments'%}">{%trans 'Previous installments'%}</a>

						{%else%}
					<label class="text-muted" >{%trans 'NO Balance Yet'%}</label>

						{%endif%}
						</div>
				</div>
							<div class="col-md-6 ">
					<div class="card ">
						<h5 class="card-title"> {%trans 'Withdrawable balance'%} </h5>
						<h4>{{Balance_to_recieve}} $</h4>
						{%if Balance_to_recieve is not 0 %}
						{%if Balance_to_recieve > 50 %}

						<a href="{% url 'AskForWithdraw'%}">{%trans 'Ask to withdraw'%}</a>
							{%else%}

						{%endif%}
						<small class="text-muted" >{%trans 'Min. limit to withdraw 50 $'%} </small>


						{%else%}
					<label class="text-muted" >{%trans 'NO Balance Yet'%}</label>

						{%endif%}
						</div>
				</div>


						</div>

					</div>
					<hr>
                    <div class="col-md-12 ">

					<h3 class="card-title text-primary"> Your rank last 3 months!! </h3>
					<div class="course-info ">

              <div class="rating-star">
<!-- system70% 10 1s 72%  30 2s75% 50 3s80%  704s85% 90 5s90% -->
					<span><i class="fa fa-star{% if avg < 5%}-o{% elif avg >= 5 and avg < 10 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 20%}-o{% elif avg >= 20 and avg < 30 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 40%}-o{% elif avg >= 40 and avg < 50 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 60%}-o{% elif avg >= 60 and avg < 70 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 80%}-o{% elif avg >= 80 and avg < 90 %}-half-o{%endif%}" aria-hidden="true"></i>

					</span><br>
	<span class="text-success">{{star}} star{{star|pluralize:'s'}} / {{avg}}class {{avg|pluralize:'es'}} delivered last 3 months.</span>
	<h4 class="text-danger"> your course rate is {{rate}} </h4>
	<small class="text-muted">{%trans 'Ranking system in 3 months period'%}. </small><br>
	<small class="text-muted">10 classes => 1 star =>  'course rate' 72% </small><br>
	<small class="text-muted">30 classes => 2 stars => course rate 75% </small><br>
	<small class="text-muted">50 classes => 3 stars => course rate 80% </small><br>
	<small class="text-muted">70 classes => 4 stars => course rate 85% </small><br>
	<small class="text-muted">90 classes => 5 stars => course rate 90% </small>
				</div>
            </div>


					</div>
					</div>

				</div>
				<div class="col-md-6">
				<div class="card text-center">
					<div class="card-body">

				  {% if user.user_img %}
				  <a href="{%url 'edit_profile'%}"><img  height="100" class="rounded-circle mb-0" style="margin:20px"  src="{{user.user_img.url}}" alt="{%trans 'user picture'%}"></a>

						<div>
							<p><strong>{{user.first_name}} {{user.last_name}}</strong></p>
						<a role="button"  class="btn btn-outline-danger"  href="{% url 'deltePhoto' %}">{%trans 'Remove Photo'%}</a>
							</div>
				  {% else%}
				 <a href="{%url 'edit_profile'%}"> <img  height="100" class="rounded-circle mb-0" style="margin:20px"  src="{% static 'img/default_avatar.png'%}" alt="{%trans 'user picture'%}"></a>
				  {% endif %}

						<p class="mb-0">{{user.email}}</p>
						<p>{{user.phone}}</p>
					</div>
					</div>
				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->


		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
