{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% block title %}withdraw Request{% endblock %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg  ">
<!--{% include 'includes/alerts.html' %}-->
    <br>
    <br>
    <br>
    <br>

<div class="container">
<div class="row d-flex justify-content-center ">
    {% include 'includes/TeacherdashboardSide.html'%}


	<main class="col-8">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3"> {%trans 'Money Withdrawn Request'%} </strong>

		</header>
		<div class="card-body">
            <div class="text-right">
            </div>
			<div class="row">

				<div class="col-md-12">
					{% if Balance_to_recieve >= 50 %}
				{%if user.is_staff  %}

<form  action="{% url 'AskForWithdraw'  %}" method="POST">
					{% csrf_token %}

                  <div class="text-center ">
                  <STRONG style="color:green;" >{%trans 'Withdraw Request'%} </STRONG>
                    </div>

					<div>
						<label>{%trans 'how much money to withdraw?'%}</label>
						<input type="number" name="amount" min="0" max="{{Balance_to_recieve}}" value="{{Balance_to_recieve}}" class="form-control" >
						<br>

						<input type="submit" value="{%trans 'submit'%}" class="btn btn-success">

					</div>
				</form>

				{%endif %}
					{%else%}
					<center><strong>{%trans 'Your available balance to receive'%} {{Balance_to_recieve}} $</strong></center>
					<div class="text-center"><small class="text-muted" >{%trans 'Minimum limit for withdraw 50 $'%} </small></div>

				{%endif %}

				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
