{% extends 'base.html' %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg  ">
<!--{% include 'includes/alerts.html' %}-->
    <br>
    <br>
    <br>
    <br>

<div class="container">
    {% include 'includes/dashboardSide.html'%}
	<div class="row d-flex justify-content-center ">

	<main class="col-md-6">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3"> Change Password </strong>

		</header>
		<div class="card-body">
            <div class="text-right">
            </div>
			<div class="row">

				<div class="col-md-12">
				<form action="{% url 'change_password'%}" method="POST" >
                    {% csrf_token%}
                    <div class="form-row">
                        <div class="form-group ">
                            <label>Current Password</label>
                          <input type="password" name="current_password" class="form-control" placeholder="Enter your current Password" required>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <label>New password</label>
                      <input type="password" name="new_password" class="form-control" placeholder="Enter your new Password" required>

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <label>Confirm New password</label>
                      <input type="password" name="confirm_new_password" class="form-control" placeholder="Confirm your new Password" required>

                        </div>

                    </div>
                     <div class="d-flex justify-content-center">
                           <div class="form-group ">

                    <input style="width:150px;" type="submit" value="save" class="btn btn-success">
                           </div>
                     </div>
                </form>
				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
