{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% block title %}Change Password{% endblock %}
<!-- ========================= SECTION CONTENT ========================= -->
<style>
   /* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 2px 35px;
  font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>
<section class="section-conten padding-y bg  ">
<!--{% include 'includes/alerts.html' %}-->
    <br>
    <br>
    <br>
    <br>

<div class="container">
   {% if user.is_staff%}
	{% include 'includes/TeacherdashboardSide.html'%}
	{% else%}
    {% include 'includes/dashboardSide.html'%}
    {%endif%}
	<div class="row d-flex justify-content-center ">

	<main class="col-md-6">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3"> {%trans 'Change Password'%} </strong>

		</header>
		<div class="card-body">
            <div class="text-right">
            </div>
			<div class="row">

				<div class="col-md-12">
				<form action="{% url 'change_password'%}" method="POST"  >
                    {% csrf_token%}
                    <div class="form-row">
                        <div class="form-group ">
                            <label>{%trans 'Current Password'%}</label>
                          <input  type="password" name="current_password" class="form-control" placeholder="{%trans 'Enter your current Password'%}" required>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <label>{%trans 'New password'%}</label>
                      <input  maxlength="12"  id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" type="password" name="new_password" class="form-control" placeholder="{%trans 'Enter your new Password'%}" required>

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group ">
                            <label>{%trans 'Confirm New password'%}</label>
                      <input  id="conpass" autocomplete="psw" type="password" name="confirm_new_password" class="form-control" placeholder="{%trans 'Confirm your new Password'%}" required>

                        </div>

                    </div>
                     <div class="d-flex justify-content-center">
                           <div class="form-group ">

                    <input id="submi" disabled style="width:150px;" type="submit" value="{%trans 'save'%}" class="btn btn-success">
                           </div>
                     </div>
                </form>
                   <div id="message">
                      <h5>Password must contain the following:</h5>
                      <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                      <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                      <p id="number" class="invalid">A <b>number</b></p>
                      <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                      <p id="ccon" class="invalid">password and confirm password <b>match</b></p>
                    </div>
				</div>


			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<script>
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var conf = document.getElementById("conpass");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}
conf.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}
conf.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}

  conf.onkeyup =  function() {
  if(myInput.value == conf.value) {

    ccon.classList.remove("invalid");
    ccon.classList.add("valid");

    $('#submi').prop('disabled', false)



  } else {
    ccon.classList.remove("valid");
    ccon.classList.add("invalid");
    $('#submi').prop('disabled', true)



  }

  }


</script>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
