{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% block title %}Forgot Password{% endblock %}
<br>
<br>

<div class="card mx-auto" style="max-width: 600px; margin-top:100px; ">


      <div class="card-body text-center">
      <h4 class="card-title mb-4">{% trans 'Forgot Password'%}</h4>
      <form method="POST" action="{% url 'forgotpassword'%}">
          {%csrf_token%}
          <div class="form-group">
			 <input oninput="let p=this.selectionStart;this.value=this.value.toLowerCase();this.setSelectionRange(p, p);" type="email" class="form-control" placeholder="{%trans 'Enter your email Address'%}" name="email" >
          </div> <!-- form-group// -->


          <div class="form-group">
          	<a href="{%url 'login'%}" class="float-right">{% trans 'Got password? login'%}</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> {% trans 'Send'%}  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">{%trans 'Don\'t have account?'%} <a href="{% url 'register'%}">{%trans 'Sign up'%}</a></p>
     <br><br>
{% endblock %}
