{% extends 'base.html' %}
{% block content %}
{% load i18n %}
{% block title %}verification{% endblock %}

<!-- ========================= SECTION CONTENT ========================= -->
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  float: left;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  float: inherit;

  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
</style>
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
    {% if request.GET.command == 'verification'%}
    <div class="container mx-auto alert alert-info text-center"  style= "margin-top:100px;">
        {%trans 'Thank you for Registration. please activate your account by clicking on activation link in your email'%} <a href="mailto:{{mail.gmail.com}}">{{request.GET.email}}</a>
        <br><br>
        {%trans 'Already verified?'%} <a href="{% url 'login'%}">{%trans 'login'%}</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        {%else%}
        </div>
	<div class="card mx-auto" style="max-width: 550px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">{%trans 'Sign in'%}</h4>
      <form method="POST" action="{% url 'login'%}">
          {%csrf_token%}
          <div class="form-group">
			 <input oninput="let p=this.selectionStart;this.value=this.value.toLowerCase();this.setSelectionRange(p, p);" type="email" class="form-control" placeholder="{%trans 'Email Address'%}" name="email" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="{%trans 'Password'%}" name="password">
          </div> <!-- form-group// -->

          <div class="form-group">

              <a href="{% url 'forgotpassword'%}" class="float-right">{%trans 'Forgot password?'%}</a>


          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> {%trans 'Login'%}  </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4 ">{%trans "Don't have account?"%} <a href="{% url 'register'%}">{%trans 'Sign up'%}</a></p>
<!--      ========================================= -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div class="container d-flex justify-content-center mb-4">
<a  href="{% url 'social:begin' 'google-oauth2' %}">
<div class="google-btn">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>

  </div>
  <p class="btn-text"><b>Sign in with google</b></p>
</div>
  </a>
</div>



        {%endif%}


<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

<!-- <div class="row"> -->
<!--         <div class="col-md-8 mx-auto social-container my-2 order-md-1"> -->
<!--             <button class="btn btn-primary mb-2"> -->
<!--                 <a href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a> -->
<!--             </button> -->
<!--         </div> -->
<!--     </div> -->

<!-- </section> -->

<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

