{% load i18n %}
<style>
	a.list-group-item.active{
	background-color: #66d186;
	}
@media (max-width: 991.98px) {
.sidebar {
width: 100%;
padding-right:0;
}
a.list-group-item {
 padding-right:2px;
 padding-left:2px;
  text-align: center;
overflow-x: hidden;
}
}

</style>
<aside  class="col-3 ">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item {% if '/en/users/dashboard/' == request.path or '/ar/users/dashboard/' == request.path %}active {% endif %}" href="{% url 'dashboard'%}"> {%trans 'Dashboard'%}  </a>
			<a class="list-group-item {% if '/myOrders/' in request.path %}active {% endif %} "  href="{% url 'myOrders'%}"> {%trans 'My Courses'%} </a>
			<a class="list-group-item {% if '/myActiveOrders/' in request.path %}active {% endif %} "  href="{% url 'myActiveOrders'%}"> {%trans 'My Active Courses'%} </a>
			<a class="list-group-item {% if '/edit_profile/' in request.path %}active {% endif %}"  href="{% url 'edit_profile'%}"> {%trans 'Edit profile'%} </a>
			<a class="list-group-item {% if '/change_password/' in request.path %}active {% endif %}" href="{% url 'change_password'%}">{%trans 'Change Password'%} </a>
			<a class="list-group-item {% if '/UnPaidOrders/' in request.path %}active {% endif %}" href="{% url 'UnPaidOrders'%}">{%trans 'Unfinished Orders'%} </a>
			<a class="list-group-item {% if '/complains/' in request.path %}active {% endif %}" href="{% url 'complains'%}">{%trans 'complains'%} </a>

		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">{%trans 'Log out'%}</span> </a>
		<!--   SIDEBAR .//END   -->
	</aside>