
{% load static %}
{% load i18n %}

<header id="header" class="fixed-top pb-0 mb-auto" >
<div class="container d-flex align-items-center">
<h1   class="logo me-auto "><a  href="{% url 'home'%}">MYSCHOOLS</a></h1>
</div>
    <div class="container d-flex align-items-center">





      <nav id="navbar" class="navbar  navbar-expand-sm">


        <ul>

          <li><a class="{% if nbar == 'home' %}active {% endif %}" href="{%url 'home'%}">{% trans 'Home'%}</a></li>
            {%if user.is_staff%}
<!--             <li><a class="{% if '/dashboard/' in request.path or '/users/' == request.path %}active {% endif %}" href="{% url 'dashboard'%}">{%trans 'Student DashBoard'%}</a></li> -->

            {%elif user.is_authenticated and not user.is_staff %}
          <li><a class="{% if '/dashboard/' in request.path or '/users/' == request.path %}active {% endif %}" href="{% url 'dashboard'%}">{%trans 'DashBoard'%}</a></li>
          {%endif%}
            <li><a class="{% if '/en/courses/' == request.path or '/ar/courses/' == request.path %}active {% endif %}" href="{% url 'courses' %}">{%trans 'Courses'%}</a></li>
          <!-- <li><a href="trainers.html">Trainers</a></li> -->
            {%if user.is_staff%}
            <li class="dropdown"><a href="#"><span>{%trans 'DashBoards'%} </span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            <li><a class="{% if '/Teachers/' in request.path or '/Teachers/' == request.path %}active {% endif %}" href="{% url 'TeacherDashboard'%}">{%trans 'Teacher '%}</a></li>
            <li><a class="{% if '/dashboard/' in request.path or '/users/' == request.path %}active {% endif %}" href="{% url 'dashboard'%}">{%trans 'Student '%}</a></li>
            </ul>
            </li>
            {%else%}
          <li><a class="{% if '/teacherProfile/' in request.path  %}active {% endif %}" href="{% url 'teacherProfile'%}">{%trans 'Be a teacher'%}</a></li>
            {%endif%}
            {%if not user.is_staff%}
          <li><a class="{% if '/pricing' in request.path  %}active {% endif %}" href="{% url 'pricing'%}"> {%trans 'Pricing'%} </a></li>
          {%endif%}

<!--           <li class="dropdown"><a href="#"><span>{%trans 'Useful Links'%} </span> <i class="bi bi-chevron-down"></i></a> -->
<!--             <ul> -->
<!--                <li><a href="{% url 'complains'%}">{%trans 'Complains'%} </a></li> -->
<!--               <li class="dropdown"><a href="#"><span> face to face courses </span> <i class="bi bi-chevron-right"></i></a> -->
<!--                 <ul> -->
<!--                   <li><a href="#">for one student</a></li> -->
<!--                   <li><a href="#">for group </a></li> -->
<!--                   <li><a href="#">for government</a></li> -->

<!--                  <li><a href="#">Deep Drop Down 5</a></li> -->
<!--                 </ul> -->
<!--               </li> -->
                {%if user.is_authenticated %}
              <li><a href="{%url 'inbox'%}">{%trans 'My Mailbox'%}</a></li>
              {%if user.is_staff %}
              <li><a href="{% url 'Teachercomplains'%}">{%trans 'Complains'%} </a></li>
              {%else%}
              <li><a href="{% url 'complains'%}">{%trans 'Complains'%} </a></li>
                {%endif%}
                {%endif%}

<!--               <li><a href="#">make assignment</a></li> -->
<!--               <li><a href="#">one teacher for everything</a></li> -->
<!--               <li><a href="#">Home work</a></li> -->
            </ul>



        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
<!--        =========================================== start notif-->
        {%if  user.is_authenticated%}
          <dev  class="nav-item dropdown notification-section" >
                    <a  class="notification dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true" >
                      <span><i class='fa fa-bell'></i></span>
                        <span class="badge" id="notification-badge">{{count_notifications}}</span>

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown"
                        data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-70px, 42px, 0px);overflow: auto ;">

                        {% for i in notifications %}
                        {% if user.is_authenticated %}
                        <li class="dropdown-item d-flex flex-row justify-content-between">
                          {% if i.sender.user_img %}

                        <img  height="30" class="rounded-circle mb-2" style="margin-left:5px"  src="{{i.sender.user_img.url}}" alt="user picture">
                          {% else%}
                          <img  height="30" class="rounded-circle mb-2" style="margin-left:5px"  src="{% static 'img/default_avatar.png'%}" alt="user picture">
                          {% endif %}
                        {% endif %}
                            <a href="{%if i.notif_type == 1 %}{%url 'viewMessage' i.message_id%}{%elif i.notif_type == 2%}{%url 'teacherProfile'%}{%elif i.notif_type == 3%}{%url 'TeacherCourseDetails' i.message_id%}{%elif i.notif_type == 4 %}{%url 'order_details' i.message_id%}{%endif%}" > {{i.Message}} </a>
                            <div>

                            <a  href="{% url 'delete-notification' i.id %}" ><i  class="bi bi-trash  "></i></a>
                                </div>
                        </li>
                        {%if  forloop.last %}
                        {%else%}
                        <hr class="dropdown-divider">
                        {%endif%}
                                        {% empty %}
                    <div class="text-center">

                        <i class="bi bi-bell-slash"></i>
                        <h5>No notifications</h5>
                        <h5>Your inbox is empty</h5>

                    </div>
                        {% endfor %}


                    </ul>
                </dev>
        {%endif%}
<!--        =========================================== end notif-->
      {% if user.is_authenticated %}
      {% if user.user_img %}
     <a href="{%url 'edit_profile'%}"><img  height="50" class="rounded-circle mb-2" style="margin:20px"  src="{{user.user_img.url}}" alt="user picture"></a>
      {% else%}
      <a href="{%url 'edit_profile'%}"><img  height="50" class="rounded-circle mb-2" style="margin:20px"  src="{% static 'img/default_avatar.png'%}" alt="user picture"></a>
      {% endif %}
      <div class="text-center">
      <small style="width:100%;" class="title text-muted">{%trans 'Welcome'%} </small>
      <p class="title text-muted"> {{user.first_name}}</p>
      </div>
      <a id="myModelSave" href="{% url 'logout'%}" class="btn btn-outline-success btn-sm">{%trans 'Logout'%}</a>
      {% else%}
      <a style="margin-right:0 important!" href="{% url 'login'%}" class="get-started-btn">{%trans 'Sign in'%}</a>
      <a style="margin-right:10px;margin-left:10px" href="{%url 'register'%}" class="get-started-btn">{%trans 'Register'%}</a>
      {% endif %}
<!--====================================================================== start lang chang-->
         <div>
                                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                            {% get_current_language as LANGUAGE_CODE %}
                                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                                            {% if LANGUAGE_CODE == 'ar' %}
                                                <button type='submit' name='language' value='en' class="btn btn-danger btn-sm">
                                                    <span class="label"></span>English
                                                </button>
                                            {% else %}
                                                <button type='submit' name='language' value='ar' class="btn btn-danger btn-sm">
                                                    <span class="label"></span>العربية
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
<!--====================================================================== start lang chang-->


    </div>
    <div style="max-width:30%;position: absolute;margin-left: auto;margin-right: auto;left: 0;right: 0;text-align: center;">
  {% include 'includes/alerts.html'%}
        </div>

  </header><!-- End Header -->


<script>
    let saveButton = document.getElementById('myModelSave');
saveButton.onclick = function() {
    let accepted = confirm("{% trans 'Are you sure you want to logout?' %}");
    if (accepted) {
        document.getElementById('myModelForm').submit();
    }else{
        event.preventDefault();
    }

}
</script>