{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<style>
	a.list-group-item.active{
	background-color: #66d186;

	}
	/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

</style>
<aside style="overflow:hidden;" class="col-3">
		<!--   SIDEBAR   -->
		<ul class="list-group ">
			<a class="list-group-item {% if '/Teachers/' == request.path %}active {% endif %}" href="{% url 'TeacherDashboard'%}"> {%trans 'Teacher Dashboard'%}  </a>
			<a class="list-group-item {% if '/TeacherOrders/' in request.path %}active {% endif %} "  href="{% url 'TeacherOrders'%}"> {%trans 'Teacher Courses'%} </a>
			<a class="list-group-item {% if '/TeacherActiveOrders/' in request.path %}active {% endif %} "  href="{% url 'TeacherActiveOrders'%}"> {%trans 'Teacher Active Courses'%} </a>
			<a class="list-group-item {% if '/Teacheredit_profile/' in request.path %}active {% endif %}"  href="{% url 'Teacheredit_profile'%}"> {%trans 'Edit Teacher profile'%} </a>
			<a class="list-group-item {% if '/Teachercomplains/' in request.path %}active {% endif %}" href="{% url 'Teachercomplains'%}">{%trans 'complains'%} </a>
			<a class="list-group-item {% if '/ReceivedInstallments/' in request.path %}active {% endif %}" href="{% url 'ReceivedInstallments'%}">{%trans 'Received installments'%} </a>
			<a class="list-group-item {% if '/AskForWithdraw/' in request.path %}active {% endif %}" href="{% url 'AskForWithdraw'%}">{%trans 'Ask to withdraw'%} </a>
             <a class="list-group-item {% if '/edit_profile/' in request.path %}active {% endif %}"  href="{% url 'edit_profile'%}"> {%trans 'Edit user profile'%} </a>
			<a class="list-group-item {% if '/change_password/' in request.path %}active {% endif %}" href="{% url 'change_password'%}">{%trans 'Change Password'%} </a>
			<a class="list-group-item {% if '/MakeMyCourse/' in request.path %}active {% endif %}" href="{% url 'MakeMyCourse'%}">{%trans 'Create new course'%} </a>
			<a class="list-group-item {% if '/editMyCourse/' in request.path %}active {% endif %}" href="{% url 'editMyCourse'%}">{%trans 'Edit my courses'%} </a>

<!--             <div class="position-sticky"> -->
<!--             <div class="list-group list-group-flush mx-3 mt-4"> -->
<!--                  --><!-- Collapse 1 -->

<!--                 <a class="{% if '/editMyCourse/' in request.path %}active {% endif %} list-group-item list-group-item-action py-2 ripple" aria-current="true" -->
<!--                   data-mdb-toggle="collapse" href="{% url 'editMyCourse' %}" aria-expanded="true" -->
<!--                   aria-controls="collapseExample1"> -->
<!--                   <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{%trans 'Edit my courses' %}</span> -->
<!--                 </a> -->
<!--                  --><!-- Collapsed content -->
<!--                 <ul id="collapseExample1" class="collapse show list-group list-group-flush"> -->
<!--                 {% for i in TeacherCourses %} -->
<!--                   <li class="list-group-item py-1"> -->
<!--                   {%if LANGUAGE_CODE == 'en' %} -->
<!--                     <a href="{% url 'editCourse' i.id %}" class="text-reset">{{i.course_name}}</a> -->
<!--                     {%else%} -->
<!--                       <a href="{% url 'editCourse' i.id %}" class="text-reset">{{i.course_name_ar}}</a> -->
<!--                       {%endif%} -->

<!--                   </li> -->
<!--                    {% endfor %} -->


<!--                 </ul> -->
<!--                  --><!-- Collapse 1 -->
<!--                 </div> -->
<!--                 </div> -->


<!--            --><!-- Sidebar -->



		</ul>

		<a class="btn btn-light btn-block" href="{% url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">{%trans 'Log out'%}</span> </a>
		<!--   SIDEBAR .//END   -->
	</aside>