{% extends 'base.html' %}
{% load static %}
{% load readmore %}
{% load i18n %}

  <!-- ======= Header ======= -->
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

  <main id="main" data-aos="fade-in" >

    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs " >
      <div class="container  ">
          {% if 'search' in request.path%}

		<h2 class="title-page">{%trans 'Courses Search Results'%} </h2>
                 <div class="form-inline">
			<span class="mr-md-auto"><strong>{{courses_count}}</strong> {%trans 'Item'%}{{ courses_count|pluralize:"s" }} {%trans 'found'%} </span>

		</div>
          {% else%}
          <h2>{%trans 'Courses'%}</h2>
        <p>{%trans 'All courses prepared by Highly qualified and experienced teachers , simply pick your course and excel!'%}</p>
          {% endif %}


      </div>

	 <!-- col.// -->
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">

      <div class="container" data-aos="fade-up">
           <div class="row justify-content-md-center">
               <div class="col col-lg-6 col-md-9">

		<form action="{% url 'search' %}"   method="get" >
			<div class="input-group d-flex  ">
			    <input   value="{{keyword}}" onfocus="this.value=''" type="text" class="form-control" style="width:60%;" placeholder="{%trans 'Search'%}" name="keyword">

			    <div class="input-group-append ">
			      <button class="btn btn-success" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> <!-- search-wrap .end// -->
                   </div>
                </div>
           <br>
            <br>


        <div class="row infinite-container" data-aos="zoom-in" data-aos-delay="100">

	 <!-- col.// -->


          {% for course in courses %}

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch infinite-item">
            <div class="course-item">
              <a href="{% url 'courseDetails' course.slug %}"><img src="{{course.img.url}}" class="img-fluid" style="width:385px; height:238.51px;" alt="{%trans 'Course Image'%}"></a>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">

                    {%if  course.language1 == course.language2 or course.language1_tr == course.language2_tr%}
                  <a href="{% url 'courseDetails' course.slug %}"><h4>{% if LANGUAGE_CODE == 'ar'%}{{course.language1_tr}}{%else%}{{course.language1}}{%endif%}</h4></a>
                    {%else %}
                    <a href="{% url 'courseDetails' course.slug %}"><h4> {% if LANGUAGE_CODE == 'ar'%}{{course.language1_tr }}  {% trans 'and'%} {{course.language2_tr}} {% else %} {{course.language1}} {% trans 'and'%} {{course.language2}}{% endif %}</h4></a>
                    {% endif %}
                  <p class="price">20 USD</p>
                </div>


                <h3><a href="{% url 'courseDetails' course.slug %}"> {% if LANGUAGE_CODE == 'ar' and course.course_name_ar != None %}{{ course.course_name_ar}}{%else%}{{ course.course_name}}{%endif%}</a></h3>



                <p>{% if LANGUAGE_CODE == 'ar' and course.course_name_ar != None %}{{ course.description_ar |readmore:30 }}{%else%}{{ course.description |readmore:30 }}{%endif%}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                    {% if course.teacher %}
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{course.teacher.user.image_url}}" class="img-fluid" alt="teacher image">
                    <span>{{ course.teacher.user.first_name }}</span>
                  </div>
                  {% endif %}
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;{{course.countreview}}
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;{{course.averagereview}}
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
            {% endfor%}
{% if courses.has_next %}
<a class="infinite-more-link" href="?page={{courses.next_page_number}}"></a>
{% endif %}




        </div>
<!--            <div class="row " > -->
<!--                <div class="d-flex justify-content-center"> -->

<!--           <nav class="mt-4" aria-label="Page navigation sample"> -->
<!-- 	{% if courses.has_other_pages %} -->
<!-- 	  <ul class="pagination"> -->


<!-- 		  {% for i in x %} -->
<!-- 		  	{%if i == courses.number  %} -->
<!-- 				<li class="page-item active" ><a class="page-link" style="background-color:#5fcf80;" href="#">{{i}}</a></li> -->
<!-- 		  	{% else %} -->
<!-- 				<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li> -->
<!-- 		  	{% endif %} -->
<!-- 		  {% endfor %} -->

<!-- 	  </ul> -->
<!-- 	{% endif %} -->
<!-- </nav> -->
<!--                    </div> -->
<!--            </div> -->

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
<script>
var infinite = new Waypoint.Infinite({
  element: $('.infinite-container')[0]
})
</script>

 {% endblock %}
