{% extends 'base.html' %}
{% load static %}
{% load i18n %}

  <!-- ======= Header ======= -->
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{courseDets.course_name}}{% endblock %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs " data-aos="fade-in">
      <div class="container ">
           <br>
        <h2>{% if LANGUAGE_CODE == 'ar'%} {{courseDets.course_name_ar}}{%else%}{{courseDets.course_name}} {%trans 'course'%}{%endif%} {%if courseTeacher.user == user %}<a class="btn btn-outline-light btn-sm active" role="button" aria-pressed="true" href="{% url 'editCourse' courseDets.id %}"><i class="bi bi-pencil "></i></a>{%endif%}</h2>

        <p>{%trans 'Available in'%} {% if LANGUAGE_CODE == 'ar'%}{%if  courseDets.language1_tr == courseDets.language2_tr%} {{courseDets.language1_tr}}  {%else %} {{courseDets.language1_tr}} {%trans 'and'%} {{courseDets.language2_tr}} {% endif %}{%else%}{%if  courseDets.language1 == courseDets.language2%} {{courseDets.language1}}  {%else %} {{courseDets.language1}} {%trans 'and'%} {{courseDets.language2}} {% endif %}{% endif %}, {%trans 'Choose course language and grade then go!'%} &#128522;  </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details  ">
      <div class="container  " data-aos="fade-up" >

        <div class="row  " >
          <div {%if youtubeUrl %} class="col-lg-4"{%else%} class="col-lg-8"{%endif%}  >
            <img src="{{courseDets.img.url}}" class="img-fluid  mx-auto" alt="">
            <h3>{% if LANGUAGE_CODE == 'ar'%}{{courseDets.course_name_ar}}{%else%}{{courseDets.course_name}} {%trans 'Course'%}{%endif%}</h3>
                {% if courseTeacher %}

                    <img src="{{courseTeacher.user.image_url}}" class="rounded-circle mr-2 ml-2" style=" max-width: 20%;max-height: 20%; " alt="teacher image">
                   <a href="{{ courseTeacher.docfile.url }}"> <span> {{  courseTeacher  }} </span> </a>

                  {% endif %}
          </div>
<!--           =====================================youtube -->
           {%if youtubeUrl%}
          <div class="col-lg-4">
          <div class="post-entry">
        <div class="card" style="">
        <div class="card-body">
            <!-- sourcing the URL directly -->
            <iframe
                width="100%"
                height="186"
                src="{{youtubeUrl}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe></br>
          </div>
          </div>
          </div>
          </div>
          {%endif%}
<!-- ======================================= end youtube-->
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
            {% if courseTeacher == None %}
              <h5>{%trans 'Teacher'%}</h5>
               <p> {%trans 'Highly qualified Teacher'%} </p>
               {% else %}
              <h5>{%trans 'Teacher C.V.'%}</h5>
              <p><a href="{{courseTeacher.docfile.url }}"  target="_blank"> {{courseTeacher}}</a></p>
              {% endif %}
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>{%trans 'Course Fees'%}</h5>
              <p>{%trans 'from' %} {{ price1st }} USD </p>
            </div>
            {% if courseDets.country == '' %}
            {%else%}
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>{%trans 'Course country'%}</h5>
              {% if courseDets.country == 'UAE' %}
              <img src="{% static 'img/uae.jpg'%}" style= "width:40px;">
              {% elif courseDets.country == 'KSA' %}
              <img src="{% static 'img/ksa.jpg'%}" style= "width:40px;">
              {% elif courseDets.country == 'Qatar' %}
              <img src="{% static 'img/qatar.jpg'%}" style= "width:40px;">
              {% elif courseDets.country == 'Kuwait' %}
              <img src="{% static 'img/kuwait.jpg'%}" style= "width:40px;">
              {% elif courseDets.country == 'Egypt' %}
              <img src="{% static 'img/Egypt.jpg'%}" style= "width:40px;">
              {% endif %}
              <p> {{ courseDets.country }}  </p>
            </div>
            {% endif %}

            <div class="course-info d-flex justify-content-between align-items-center">
            {%if courseTeacher.user == user %}
              <a href="{% url 'editCourse' courseDets.id  %}"> <h5>{%trans 'Edit  Course' %} </h5></a>
              <p><a href="{% url 'editCourse' courseDets.id %}"><i class="bi bi-pencil"></i></a></p>
              {%else%}
              <h5>{%trans 'Available Seats'%} </h5>
              <p>3</p>
              {%endif%}
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>{%trans 'Review'%}</h5>
              <div class="rating-star">

					<span><i class="fa fa-star{% if avg < 0.5%}-o{% elif avg >= 0.5 and avg < 1 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 1.5%}-o{% elif avg >= 1.5 and avg < 2 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 2.5%}-o{% elif avg >= 2.5 and avg < 3 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 3.5%}-o{% elif avg >= 3.5 and avg < 4 %}-half-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if avg < 4.5%}-o{% elif avg >= 4.5 and avg < 5 %}-half-o{%endif%}" aria-hidden="true"></i>

					</span>
	<span>{{avg}} {%trans 'stars'%} / {{count}} {%trans 'review'%}{% if LANGUAGE_CODE == 'en'%}{{count|pluralize:'s'}} {%else%} {%endif%}</span>
				</div>
            </div>

          </div>
        </div>

      </div>
<!--       =============================================== description -->
      <div class="row" data-aos="fade-up">
      <div class="container ">
      <div class="col-lg-12">

       <h4 class='text-justify' style="line-height: 1.6;"> {% if LANGUAGE_CODE == 'ar'%}{{courseDets.description_ar}}{%else%}{{courseDets.description}}{%endif%}</h4>
          </div>
          </div>
          </div>

    </section><!-- End Cource Details Section -->

 <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row">

<!-- =============================== pricing -->
{%for i in price %}
          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          {%if forloop.first  %}
            <div class="box featured">
            {%elif  forloop.last %}
            <div class="box ">
              <span class="advanced">{%trans 'Advanced'%}</span>
            {%else%}
            <div class="box">
            {%endif%}
              <h3>{%if LANGUAGE_CODE == 'en' %}{{i.courseClasses_En}}{%else%}{{i.courseClasses_Ar}}{%endif%} </h3>
              <h4><sup>USD</sup>{{i.coursePrice}}<span> {{i.courseClasses}} / {{i.courseClasses|pluralize:" Class,Classes"}}</span></h4>
              <ul>
             {%if LANGUAGE_CODE == 'en' %}
              {%for l in i.CprivEN.all %}
                 <li>{{l}}</li>
                 {%endfor%}
                 {%for n in i.CprivENNa.all %}
                 <li class="na">{{n}}</li>
                 {%endfor%}
                 {%else%}
<!--                  ==========================AR -->
                  {%for l in i.CprivAR.all %}
                 <li>{{l}}</li>
                 {%endfor%}
                 {%for n in i.CprivARNa.all %}
                 <li class="na">{{n}}</li>
                 {%endfor%}

                 {%endif%}

              <div class="btn-wrap">
                {%if forloop.first  %}
                <a href="{% url 'checkout' courseDets.slug i.courseClasses i.coursePrice 'is_trial' %}" class="btn-buy">{%trans 'Buy Now'%}</a>
                {%else%}
               <a href="{% url 'checkout' courseDets.slug i.courseClasses i.coursePrice 'real' %}" class="btn-buy">{%trans 'Buy Now'%}</a>
               {%endif%}




              </div>
            </div>
          </div>
          {%endfor%}
        </div>

      </div>
    </section><!-- End Pricing Section -->
{%if reviews_count is not 0 %}
<div class="container" data-aos="fade-up">
<strong>{{reviews_count}} {%trans 'users review'%}{{ reviews_count|pluralize:"s" }}</strong>
    </div>
{%endif%}

  {% for review in paged_review %}


	<article class="box mb-3">
        <div class="container" data-aos="fade-up">
		<div class="icontext w-100">
			{% if review.user.user_img %}
     <a href="{%url 'edit_profile'%}"><img  height="50" class="rounded-circle mb-2" style="margin:20px"  src="{{review.user.user_img.url}}" alt="{%trans 'user picture'%}"></a>
      {% else%}
      <a href="{%url 'edit_profile'%}"><img  height="50" class="rounded-circle mb-2" style="margin:20px"  src="{% static 'img/default_avatar.png'%}" alt="{%trans 'user picture'%}"></a>
      {% endif %}

			<div class="text">

				<span class="date text-muted float-md-right">{%trans 'created at:'%}{{review.created_date}} </span> <br>
								<span class="date text-muted float-md-right">{%trans 'last update:'%} {{review.updated_date}} </span> <br>
								<h6 class="mb-1">{{review.user.first_name}} {{review.user.last_name}}</h6>
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if review.rating == 0.5%}-half-o{% elif review.rating < 1 %}-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 1.5%}-half-o{% elif review.rating < 2 %}-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 2.5%}-half-o{% elif review.rating < 3 %}-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 3.5%}-half-o{% elif review.rating < 4 %}-o{%endif%}" aria-hidden="true"></i>
						<i class="fa fa-star{% if review.rating == 4.5%}-half-o{% elif review.rating < 5 %}-o{%endif%}" aria-hidden="true"></i>

					</span>
				</div>



			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<h6>{{review.subject}}</h6>
			<p>
				{{review.review}}
          <br>
                    <hr>
		</div>

        </div>
	</article>

{%endfor%}
 <div class="row" >
               <div class="d-flex justify-content-center">

          <nav class="mt-4" aria-label="Page navigation sample">
	{% if paged_review.has_other_pages %}
	  <ul class="pagination">
		  {% if paged_review.has_previous %}
		  <li class="page-item "><a class="page-link" href="?page=1">&laquo; {%trans 'first'%}</a></li>

		<li class="page-item "><a class="page-link" href="?page={{ paged_review.previous_page_number }}">{%trans 'Previous'%}</a></li>
		  {% endif %}

		  {% for i in x %}
		  	{%if i == paged_review.number  %}
				<li class="page-item active" ><a class="page-link" style="background-color:#5fcf80;" href="#">{{i}}</a></li>
		  	{% else %}
				<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
		  	{% endif %}
		  {% endfor %}
		  {% if paged_review.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{paged_review.next_page_number}}">{%trans 'Next'%}</a></li>
		  <li class="page-item"><a class="page-link " href="?page={{ paged_review.paginator.num_pages }}">{%trans 'last'%} &raquo;</a></li>
 		 {% endif %}
	  </ul>
	{% endif %}
</nav>
                   </div>
           </div>


{%endblock%}

