{% extends 'base.html' %}
{% load static %}


  <!-- ======= Header ======= -->

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{courseDets.course_name}} Course</h2>
        <p>Available in {%if  courseDets.language1 == courseDets.language2%} {{courseDets.language1}}  {%else %} {{courseDets.language1}} and {{courseDets.language2}} {% endif %}, choose course language and grade then start over in convenient remote learning process  </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{{courseDets.img.url}}" class="img-fluid" alt="">
            <h3>{{courseDets.course_name}} Coures</h3>
            <p>
               {{courseDets.description}}
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="#">High qualified teacher </a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>from 100 Aed </p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>3</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Schedule</h5>
              <p>5.00 pm - 7.00 pm</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->
 <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>AED</sup>0<span> / class</span></h4>
              <ul>

                <li>free try half an hour</li>

                <li class="na">Course material</li>
                <li class="na">MS account</li>

                   <li class="na">Special follow up</li>
                  <li class="na">Discount on extend</li>
              </ul>
              <div class="btn-wrap">
               {% if user.is_authenticated%}
                <a href="#" class="btn-buy">Buy Now</a>
                {% else %}
                <a href="{%url 'login'%}" class="btn-buy">Buy Now</a>
                {%endif %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured">
              <h3>One class</h3>
              <h4><sup>AED</sup>100<span> / class</span></h4>
              <ul>
                 <li>One hour</li>
                <li>Course material </li>

                <li class="na">MS account</li>
                   <li class="na">Special follow up</li>
                  <li class="na">Discount on extend</li>
              </ul>
              <div class="btn-wrap">
                {% if user.is_authenticated%}
                <a href="#" class="btn-buy">Buy Now</a>
                {% else %}
                <a href="{%url 'login'%}" class="btn-buy">Buy Now</a>
                {%endif %}              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3>Three Classes </h3>
              <h4><sup>AED</sup>250<span> / 3 classes</span></h4>
              <ul>
                <li>Three hours</li>
                <li>Course material</li>
                <li>MS account</li>
                <li>Special follow up</li>
                  <li class="na">Discount on extend</li>
              </ul>
              <div class="btn-wrap">
                {% if user.is_authenticated%}
                <a href="{% url 'checkout' courseDets.slug 3 250 %}" class="btn-buy">Buy Now</a>
                {% else %}
                <a href="{%url 'login'%}" class="btn-buy">Buy Now</a>
                {%endif %}
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>Six Classes</h3>
              <h4><sup>AED</sup>500<span> / 6 Classes</span></h4>
              <ul>
                <li>More than six hours </li>
                <li>Course material</li>
                <li>MS account</li>
                <li>Special follow up</li>
                <li>One class free</li>
              </ul>
              <div class="btn-wrap">
                {% if user.is_authenticated%}
                <a href="#" class="btn-buy">Buy Now</a>
                {% else %}
                <a href="{%url 'login'%}" class="btn-buy">Buy Now</a>
                {%endif %}
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

<!--    &lt;!&ndash; ======= Cource Details Tabs Section ======= &ndash;&gt;-->
<!--    <section id="cource-details-tabs" class="cource-details-tabs">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="row">-->
<!--          <div class="col-lg-3">-->
<!--            <ul class="nav nav-tabs flex-column">-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-lg-9 mt-4 mt-lg-0">-->
<!--            <div class="tab-content">-->
<!--              <div class="tab-pane active show" id="tab-1">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                    <h3>Architecto ut aperiam autem id</h3>-->
<!--                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>-->
<!--                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="tab-pane" id="tab-2">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                    <h3>Et blanditiis nemo veritatis excepturi</h3>-->
<!--                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>-->
<!--                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="tab-pane" id="tab-3">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>-->
<!--                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>-->
<!--                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="tab-pane" id="tab-4">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>-->
<!--                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>-->
<!--                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="tab-pane" id="tab-5">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-8 details order-2 order-lg-1">-->
<!--                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>-->
<!--                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>-->
<!--                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Cource Details Tabs Section &ndash;&gt;-->

  </main><!-- End #main -->
{%endblock%}

