{% extends 'base.html' %}
{% load static %}


  <!-- ======= Header ======= -->

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{courseDets.course_name}} Course</h2>
        <p>Available in {%if  courseDets.language1 == courseDets.language2%} {{courseDets.language1}}  {%else %} {{courseDets.language1}} and {{courseDets.language2}} {% endif %}, choose course language and grade then start over in convenient remote learning process  </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="{{courseDets.img.url}}" class="img-fluid" alt="">
            <h3>{{courseDets.course_name}} Coures</h3>
            <p>
               {{courseDets.description}}
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="#">High qualified teacher </a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>from 100 Aed </p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>3</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Schedule</h5>
              <p>5.00 pm - 7.00 pm</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->
 <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">


          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured">
              <h3>One class</h3>
              <h4><sup>AED</sup>100<span> / class</span></h4>
              <ul>
                 <li>One hour</li>
                <li>Course material </li>

                <li class="na">MS account</li>
                   <li class="na">Special follow up</li>
                  <li class="na">Discount on extend</li>
              </ul>
              <div class="btn-wrap">

                <a href="{% url 'checkout' courseDets.slug 1 100 %}" class="btn-buy">Buy Now</a>


              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3>Three Classes </h3>
              <h4><sup>AED</sup>250<span> / 3 classes</span></h4>
              <ul>
                <li>Three hours</li>
                <li>Course material</li>
                <li>MS account</li>
                <li>Special follow up</li>
                  <li class="na">Discount on extend</li>
              </ul>
              <div class="btn-wrap">

                <a href="{% url 'checkout' courseDets.slug 3 250 %}" class="btn-buy">Buy Now</a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <span class="advanced">Advanced</span>
              <h3>Six Classes</h3>
              <h4><sup>AED</sup>500<span> / 6 Classes</span></h4>
              <ul>
                <li>More than six hours </li>
                <li>Course material</li>
                <li>MS account</li>
                <li>Special follow up</li>
                <li>One class free</li>
              </ul>
              <div class="btn-wrap">

                <a href="{% url 'checkout' courseDets.slug 6 500 %}" class="btn-buy">Buy Now</a>


              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->


{%endblock%}

