{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load readmore %}
  <!-- ======= Header ======= -->

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>{%trans 'FUTURE OF LEARNING,'%}<br>{%trans 'BOOK YOUR SESSIONS NOW'%}</h1>
      <h2>{%trans 'Study online with private highly qualified teachers'%} </h2>
      <a href="courses.html" class="btn-get-started">{%trans 'Get Started'%}</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>{%trans 'HOW IT WORKS?.'%}</h3>
            <p class="fst-italic">
              {%trans 'Simply choose the subject you need then fill the form about the course information and book number of sessions with free refund after first class in case you want to cancel.'%}
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> {%trans 'step1:choose subject.'%}</li>
              <li><i class="bi bi-check-circle"></i> {%trans 'step2:fill the form.'%}</li>
              <li><i class="bi bi-check-circle"></i> {%trans 'step3:book number of sessions you need and pay.'%}</li>
            </ul>
            <p>
             {%trans 'you wll get confirmation message by email, your teacher will be in touch with you on your dashboard to choose suitable date and time, your meeting links will be available as well.'%}
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>{%trans 'Students'%}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>{%trans 'Courses'%}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>{%trans 'Events'%}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>{%trans 'Trainers'%}</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>{%trans 'Why Choose E-student?'%}</h3>
              <p>
                {%trans 'With E-student you can experience convent way of learning while you are in your house, no border limits, we have highly qualified teachers from all around the world, on top of that you can refund your money any time you decide to stop.'%}
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">{%trans 'Learn More'%} <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx ri-disc-line"></i>
                    <h4>{%trans 'Convent way of learning'%}</h4>
                    <p>{%trans 'Study wile you are in your house in any country with no border limits at all'%} </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>{%trans 'Easy to Refund and extend'%}</h4>
                    <p>{%trans 'Refund your money easily if you don\'t like it'%}</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx ri-price-tag-2-line"></i>
                    <h4> {%trans 'Reasonable prices'%} </h4>
                    <p>{%trans 'Enroll on many subjects and enjoy big discounts'%}</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-3 col-md-4">
            <div class="icon-box">


          <a href="{% url 'courses' %}">    <img src="{% static 'img/uae.jpg'%}" style=" margin-right: 15px;" width="60px"></a>

              <h3 ><a href="{% url 'courses' %}">{%trans 'UAE'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">


<a href="{% url 'courses' %}"><img src="{% static 'img/ksa.jpg'%}"style=" margin-right: 15px;" width="60px"></a>
              <h3><a href="{% url 'courses' %}">{%trans 'KSA'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">


<a href="{% url 'courses' %}"><img src="{% static 'img/kuwait.png'%}"style=" margin-right: 15px;" width="60px"></a>

              <h3><a href="{% url 'courses' %}">{%trans 'Kuwait'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">


<a href="{% url 'courses' %}"><img src="{% static 'img/qatar.png'%}"style=" margin-right: 15px;" width="60px"></a>
              <h3><a href="{% url 'courses' %}">{%trans 'Qatar'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
             
              
              <i class="iconify" data-icon="mdi:abjad-arabic" data-width="34" style="color: #ffbb2c;"></i>
           
              <h3><a href="{% url 'courseDetails' 'arabic' %}">{%trans 'Arabic'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="{% url 'courseDetails' 'math' %}">{%trans 'Math'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-type" style="color: #e80368;"></i>
              <h3><a href="{% url 'courseDetails' 'arabic-for-none-arab' %}">Arabic For None Arab</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-thermometer-sun" style="color: #e361ff;"></i>
              <h3><a href="{% url 'courseDetails' 'science' %}">{%trans 'Science'%}</a></h3>

            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-medium" style="color: #47aeff;"></i>
              <h3><a href="{% url 'courseDetails' 'physics' %}">{%trans 'Physics'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i  class="iconify" data-icon="carbon:chemistry" data-width="34" style="color: #ffa76e;"></i>
              <h3><a href="{% url 'courseDetails' 'chemistry' %}">{%trans 'Chemistry'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="la:quran" data-width="34" style="color: #11dbcf;"></i>
              <h3><a href="{% url 'courseDetails' 'quran' %}">{%trans 'Quran'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-explicit" style="color: #4233ff;"></i>
              <h3><a href="{% url 'courseDetails' 'english' %}">{%trans 'English'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-gender-trans" style="color: #b2904f;"></i>
              <h3><a href="{% url 'courseDetails' 'biology' %}">{%trans 'Biology'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-currency-dollar" style="color: #b20969;"></i>
              <h3><a href="{% url 'courseDetails' 'business-administration' %}">{%trans 'Business Administration'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="openmoji:flag-france" data-width="34"></i>
              <h3><a href="{% url 'courseDetails' 'french' %}">{%trans 'French'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-activity" style="color: #29cc61;"></i>
              <h3><a href="{% url 'courseDetails' 'health-science' %}">{%trans 'Health Science'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-music-note-beamed" style="color: #29cc61;"></i>
              <h3><a href="{% url 'courseDetails' 'music' %}">{%trans 'Music'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-book" style="color: #29cc61;"></i>
              <h3><a href="{% url 'courseDetails' 'integration-curriculum' %}">{%trans 'Integrated curriculum'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="uil:letter-chinese-a" data-width="34" style="color: #a629cc;"></i>
              <h3><a href="{% url 'courseDetails' 'chinese' %}">{%trans 'Chinese'%}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-palette" style="color: #b20969;"></i>
              <h3><a href="{% url 'courseDetails' 'visual-arts' %}">{%trans 'Visual Arts'%}</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

   <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for course in cour %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
          <a href="{% url 'courseDetails' course.slug %}"><img src="{{course.img.url}}" class="img-fluid" style="width:385px; height:238.51px;" alt="{%trans 'Course Image'%}"></a>
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  {%if  course.language1 == course.language2 or course.language1_tr == course.language2_tr%}
                  <a href="{% url 'courseDetails' course.slug %}"><h4>{% if LANGUAGE_CODE == 'ar'%}{{course.language1_tr}}{%else%}{{course.language1}}{%endif%}</h4></a>
                    {%else %}
                    <a href="{% url 'courseDetails' course.slug %}"><h4> {% if LANGUAGE_CODE == 'ar'%}{{course.language1_tr }}  {% trans 'and'%} {{course.language2_tr}} {% else %} {{course.language1}} {% trans 'and'%} {{course.language2}}{% endif %}</h4></a>
                    {% endif %}
                  <p class="price">100 AED</p>
                </div>

                <h3><a href="{% url 'courseDetails' course.slug %}"> {% if LANGUAGE_CODE == 'ar' and course.course_name_ar != None %}{{ course.course_name_ar}}{%else%}{{ course.course_name}}{%endif%}</a></h3>
                <p>{% if LANGUAGE_CODE == 'ar' and course.course_name_ar != None %}{{ course.description_ar |readmore:30 }}{%else%}{{ course.description |readmore:30 }}{%endif%}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  {% if course.teacher %}
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{course.teacher.user.image_url}}" class="img-fluid" alt="teacher image">
                    <span>{{ course.teacher.user.first_name }}</span>
                  </div>
                  {% endif %}
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;{{course.countreview}}
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;{{course.averagereview}}
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          {%endfor%}


        </div>

      </div>
    </section><!-- End Popular Courses Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'img/trainers/trainer-1.jpg'%}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Walter White</h4>
                <span>Web Development</span>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'img/trainers/trainer-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Sarah Jhinson</h4>
                <span>Marketing</span>
                <p>
                  Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'img/trainers/trainer-3.jpg'%}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>William Anderson</h4>
                <span>Content</span>
                <p>
                  Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->


{% endblock %}