{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
{% block title %}Pricing {% endblock %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{%trans 'Pricing'%}</h2>
        <p>{%trans 'pick the bundle and start!'%}. </p>
      </div>
    </div><!-- End Breadcrumbs -->

   <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

{%for i in price %}
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          {%if forloop.first  %}
            <div class="box featured">
            {%elif  forloop.last %}
            <div class="box">
              <span class="advanced">{%trans 'Advanced'%}</span>
            {%else%}
            <div class="box">
            {%endif%}
              <h3>{{i.courseClasses_En}} </h3>
              <h4><sup>USD</sup>{{i.coursePrice}}<span> {{i.courseClasses}} / {{i.courseClasses|pluralize:" Class,Classes"}}</span></h4>
              <ul>
                 <li>{%trans 'More than one hour'%}</li>
                <li>{%trans 'Course material'%} </li>


                   <li class="na">{%trans 'Special follow up'%}</li>
                  <li class="na">{%trans 'Discount on extend'%}</li>
              </ul>
              <div class="btn-wrap">

                <a href="{% url 'courses'  %}" class="btn-buy">{%trans 'Buy Now'%}</a>


              </div>
            </div>
          </div>
          {%endfor%}
   <!-- ======= Pricing Section ======= -->

<!--           <div class="col-lg-4 col-md-6 mt-4 mt-lg-0"> -->
<!--             <div class="box"> -->
<!--               <h3>{%trans 'Three Classes'%} </h3> -->
<!--               <h4><sup>USD</sup>70<span> / 3 {%trans 'classes'%}</span></h4> -->
<!--               <ul> -->
<!--                 <li>{%trans 'More than Three hours'%}</li> -->
<!--                 <li>{%trans 'Course material'%}</li> -->

<!--                 <li>{%trans 'Special follow up'%}</li> -->
<!--                   <li class="na">{%trans 'Discount on extend'%}</li> -->
<!--               </ul> -->
<!--               <div class="btn-wrap"> -->

<!--                <a href="{% url 'courses'  %}" class="btn-buy">{%trans 'Buy Now'%}</a> -->

<!--               </div> -->
<!--             </div> -->
<!--           </div> -->

<!--           <div class="col-lg-4 col-md-6 mt-4 mt-lg-0"> -->
<!--             <div class="box"> -->
<!--               <span class="advanced">{%trans 'Advanced'%}</span> -->
<!--               <h3>{%trans 'Six'%} {%trans 'Classes'%}</h3> -->
<!--               <h4><sup>USD</sup>140<span> / 6 {%trans 'Classes'%}</span></h4> -->
<!--               <ul> -->
<!--                 <li>{%trans 'More than six hours'%} </li> -->
<!--                 <li>{%trans 'Course material'%}</li> -->

<!--                 <li>{%trans 'Special follow up'%}</li> -->
<!--                 <li>{%trans 'Discount on extend'%}</li> -->
<!--               </ul> -->
<!--               <div class="btn-wrap"> -->
<!--               <a href="{% url 'courses'  %}" class="btn-buy">{%trans 'Buy Now'%}</a> -->



<!--               </div> -->
<!--             </div> -->
<!--           </div> -->

        </div>

      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->
 {%endblock%}

