{% extends 'base.html' %}
{% block content %}
{% load static%}
{% load i18n %}
{% block title %}Checkout{% endblock %}
<style>
    span {cursor:pointer; }
		.number{
			margin:30px;
		}
		.minus, .plus{
			width:28px;
			height:34px;
			background:#5fcf80;
			border-radius:4px;
			padding:8px 0px 8px 0px;
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;

      text-align: center;
		}
		#quantity{
			height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
			border:1px solid #ddd;
			border-radius:4px;
			padding:0px;
      display: inline-block;
      vertical-align: middle;}
</style>

<section class="section-content padding-y bg">
    <br>
    <br>
    <br>
    <br>
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-6">
<div class="card">
    <form method="POST" action="{% url 'place_order' needed_course_id price lessons   %}"  >
<div class="card-body">
    <h4 class="card-title mb-4">{%trans 'Course Details'%}</h4>

         {%csrf_token%}
<div class="form-row">
<div class="col form-group">
     <label>{%trans 'Country'%}<span style="color:red">  *</span></label>

    <select name="country"  class="form-select form-select-lg mb-3"  required  id="cou" onchange="yesnoCheckk(this);">
     <option   value="UAE" class="form-control"  >{%trans 'UAE'%}</option>
    <option   value="KSA" class="form-control"  >{%trans 'KSA'%}</option>
    <option   value="Qatar" class="form-control"  >{%trans 'Qatar'%}</option>
    <option   value="Kuwait" class="form-control"  >{%trans 'Kuwait'%}</option>
    <option   value="other" class="form-control"  >{%trans 'other'%}</option>
    </select>
     <div id="ifYess" style="display: none;">
                    <br />
   <label for="carr">{%trans 'Enter Your Country'%} <span style="color:red">*</span> </label>
    <input type="text" id="carr" class="form-control"   />

</div>
    <small>{%trans 'Choose Your country'%}</small>
</div>
    <div class="col form-group">
     <label>{%trans 'City'%} <span style="color:red">*</span></label>
    <input type="text" name="city" class="form-control" required >
    <input type="text" name="ncourse" class="form-select form-select-lg mb-3" hidden value="{{needed_course}}" >
</div>

</div>
        <div class="form-row">
            {%if needed_course.is_school_subject %}
<div class="col form-group">
     <label>{%trans 'Grade'%} <span style="color:red">*</span></label>
    <select name="grade" required class="form-select form-select-lg mb-3">



    <option   value="1" class="form-control"  >1</option>
    <option   value="2" class="form-control"  >2</option>
    <option   value="3" class="form-control"  >3</option>
    <option   value="4" class="form-control"  >4</option>
    <option   value="5" class="form-control"  >5</option>
    <option   value="6" class="form-control"  >6</option>
    <option   value="7" class="form-control"  >7</option>
    <option   value="8" class="form-control"  >8</option>
    <option   value="9" class="form-control"  >9</option>
    <option  value="10" class="form-control"  >10</option>
    <option  value="11" class="form-control"  >11</option>
    <option  value="12" class="form-control"  >12</option>



        </select>
    <small>{%trans 'Choose Your Grade'%}</small>
</div>
             {%endif%}


</div>

    {%if needed_course.is_school_subject %}
        <div class="form-row">
            <div class="col form-group">
            <label>{%trans 'Curriculum Type'%} <span style="color:red">*</span></label>
    <select name="Curriculum_type" required class="form-select form-select-lg mb-3" id="ses" onchange="yesnoCheck(this);" >

    <option   value="General" class="form-control"  >{%trans 'General'%}</option>
    <option   value="Advanced" class="form-control"  >{% trans 'Advanced' %}</option>
    <option   value="Elite" class="form-control"  >{%trans 'Elite'%}</option>
    <option   value="other" class="form-control"  >{%trans 'other'%}</option>

            </select>
                <div id="ifYes" style="display: none;">
                    <br />
   <label for="car">{%trans 'Enter Curriculum Type'%} <span style="color:red">*</span> </label>
    <input type="text" id="car" class="form-control" name="" />
</div>
               <small>{%trans 'Curriculum Type'%}</small>
            </div>
   <div class="col form-group">
      <label>{%trans 'Semester'%} <span style="color:red">*</span></label>
            <select name="term" required class="form-select form-select-lg mb-3">



    <option   value="1" class="form-control"  >{%trans 'first'%}</option>
    <option   value="2" class="form-control"  >{%trans 'second'%}</option>
    <option   value="3" class="form-control"  >{%trans 'Third'%}</option>
            </select>
       <small>{%trans 'Semester'%}</small>
             </div>

            {%if needed_course.course_name  in lang %}
            <select name="order_course_language" required class="form-control" hidden>
                <option  selected value="{{needed_course.course_name}}" class="form-control"  ></option>
                 </select>
            {%else%}

            <div class="col form-group">
      <label>{%trans 'Course Language'%} <span style="color:red">*</span></label>
            <select name="order_course_language" required class="form-select form-select-lg mb-3">
    <option   value="Arabic" class="form-control"  >{%trans 'Arabic'%}</option>
    <option   value="English" class="form-control"  >{%trans 'English'%}</option>
    <option   value="French" class="form-control"  >{%trans 'French'%}</option>
    <option   value="Chinese" class="form-control"  >{%trans 'Chinese'%}</option>
            </select>
       <small>{%trans 'Choose Course Language'%}</small>
             </div>
             {%endif%}


</div>
    {%endif%}
         <div class="form-row">

               <div class="col form-group">

             <label> {%trans 'Notes'%}</label>
             <textarea name="order_note" rows="2" class="form-control" ></textarea>
             </div>
              </div>

</div>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">


		<div class="card">
		<div class="card-body">
            <section id="pricing" class="pricing" style="padding:20px">
      <div  data-aos="fade-up">

        <div class="row">

              <div class="col-lg-12 col-md-6 mt-4 mt-md-0">
            <div class="box featured">
              <h3 >{{needed_course}} </h3>
                <input hidden required name="needed_course_id" value="{{needed_course_id}}">
                <h4><sup>USD</sup>{{price}}<span> {{lessons}}/ class{{ lessons|pluralize:"es" }}</span></h4>
                <label hidden id="price" set="{{price}}"> </label>
                <label hidden id="lesson" set="{{lessons}}"> </label>
                <ul>
                    <li >  <strong style="color:red"> {%trans 'Total price with tax'%} 5%:<output name="total" for="quantity">{{price}} </output> USD</strong></li>
                    <li> <strong style="color:red">{%trans 'Total lessons:'%}<output name="total_classes" for="quantity">{{lessons}}</output> class{{ lessons|pluralize:"es" }}</strong></li>

                </ul>
                {%if price != 0 %}
                  <div class="form-row ">
                <div class="col form-group ">

<label for="quantity"> {%trans 'Quantity'%}  <span style="color:red">*</span></label>
                    <div class="number">
                        <span class="minus"><strong>-</strong></span>
                <input type="number"  name="quantity"  min="1" step="1" value="1" required pattern="[1-9]" id="quantity"  >
                        <span class="plus"><strong>+</strong></span>
                        </div>

                </div>
                  </div>
                {%else%}
                <div class="form-row  " hidden>
                <div class="col form-group ">
                    <label> {%trans 'quantity'%}  </label>

                <input type="number"  name="quantity" class="form-control" min="1" step="1" value="1" required pattern="[1-9]"   >

                </div>
                  </div>


                {%endif%}
                <br>

<button class="btn btn-danger btn-block" type="submit" name="submit">{%if price != 0 %} {%trans 'Buy Now'%} {%else%} {%trans 'Try Now'%} {%endif%}</button>
			<a href="{%url 'courses'%}" class="btn btn-outline-primary btn-block">{%trans 'Go To Courses'%}</a>
            </div>
          </div>
        </div>
            </section>




		</div> <!-- card-body.// -->

		</div> <!-- card.// -->
 </form>
</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<script>
$(document).ready(function() {
			$('.minus').click(function () {
				var $input = $(this).parent().find('#quantity');
				var count = parseInt($input.val()) - 1;
				count = count < 1 ? 1 : count;
				$input.val(count);
				$input.change();
				return false;
			});
			$('.plus').click(function () {
				var $input = $(this).parent().find('#quantity');
				$input.val(parseInt($input.val()) + 1);
				$input.change();
				return false;
			});
		});
    var dw = document.getElementById('quantity');
dw.onchange = function(){
var cur = this.value,
tocur = document.getElementById('price').getAttribute('set'),output = document.getElementsByTagName('output')[0];
var res = Math.floor(tocur * cur );
total_classes = document.getElementById('lesson').getAttribute('set'),outputt = document.getElementsByTagName('output')[1];
var ress = Math.floor(total_classes * cur );
output.innerHTML = res +(res* 0.05);
outputt.innerHTML = ress;
};
function yesnoCheck(that) {
    if (that.value == "other") {

        document.getElementById("ifYes").style.display = "block";
        document.getElementById("ses").name = '';
        document.getElementById("car").name = 'Curriculum_type';
        document.getElementById("car").required = true;
    } else {
        document.getElementById("ifYes").style.display = "none";
        document.getElementById("ses").name = 'Curriculum_type';
        document.getElementById("car").name = '';
        document.getElementById("car").required = false;
         document.getElementById("ses").required = true;
    }
}

function yesnoCheckk(that) {
    if (that.value == "other") {

        document.getElementById("ifYess").style.display = "block";
        document.getElementById("cou").name = '';
         document.getElementById("carr").name = 'country';
         document.getElementById("carr").required = true;
         document.getElementById("cou").required = false;

    } else {
        document.getElementById("ifYess").style.display = "none";
        document.getElementById("cou").name = 'country';
        document.getElementById("carr").name = '';
        document.getElementById("carr").required = false;
         document.getElementById("cou").required = true;

    }
}




</script>
{% endblock %}
