{% extends 'base.html' %}
{% block content %}
{% load static%}
{% load i18n %}
{% block title %}Payment{% endblock %}
{% get_current_language as LANGUAGE_CODE %}
<section class="section-content padding-y bg">
    <br>
    <br>
    <br>
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <h3 class="mb-10">{%trans 'Review order Details'%}</h3>
        <div class="row">

            <aside class="col-lg-8">
                <div class="card">
                    <h5 class="card-header"><strong>{%trans 'Billing Address'%}</strong></h5>
                    <div class="card-body">
                    <div class="row">
                    <div class="col-lg-12 ">
                        <p class="card-text mb-0">{{order.first_name}} {{order.last_name}}.</p>

                        <p class="card-text mb-0">{{order.country}},{{order.city}}.</p>

                        <p class="card-text mb-0">{{order.phone}}</p>
                        {%if order.order_note%}
                        <b>{%trans 'Order Note'%}:</b> {{ order.order_note}}
                        {%endif%}
                        </div>
                        <!--   =================================================          -->
                        <div class="col-lg-12 ">
                        <div class="  text-center" >
                         <div class=" alert-success" >
                         <br>
                           <h4 class="alert-heading ">{%trans 'Well done'%}!</h4>
                        <p>{%trans 'Whenever you need to, you can replace the teacher or refund your money'%}</p>
                        <hr class ="mb-2 mt-0">
                        <p > {%trans 'Your world is about to look a whole lot better'%}</p>
                        <br>
                         </div>  <!--end green-->
                         </div>  <!--end green-->
                    </div>
                    <!--   =================================================          -->
                    </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header"><strong>{%trans 'Payment method'%}</strong></h5>
                    <div class="card-body">
                        <p class="card-text">{%trans 'PayPal'%}</p>
                    </div>
                </div>
                <div class="card ">
                    <h5 class="card-header"><strong>{%trans ' My Course '%}</strong></h5>
                    <div class="card-body">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted ">
                            <tr class="small text-uppercase ">
                                <th class="text-center" scope="col" width="120">{%trans 'Course'%}</th>
                                <th  class="text-center" scope="col" width="120">{%trans 'lessons'%}</th>

                                <th   class="text-center" scope="col" width="120">{%trans 'Price'%}</th>



                                <!--  <th scope="col" class="text-right" width="200"> </th>-->
                            </tr>
                            </thead>

                            <tbody>


                            <tr>
                                <td class="text-center">
                                    <figure class="itemside align-items-center">
                                        <div class="aside"  >
                                            <figcaption class="info">
                                                <a class="title" href="{{ needed_course.get_url }}"><strong>{% if LANGUAGE_CODE == 'ar' %} {{needed_course.course_name_ar}}{%else%} {{needed_course.course_name}} {% endif %}</strong></a>

                                        </figcaption>
                                            <br>
                                            <img class="img-sm"src="{{needed_course.img.url}}" style="max-width:100PX ; ">



                                        </div>

                                    </figure>
                                </td>
                                <td class="text-center">
                                    <h5 >{{order.total_classes}} </h5>

                                </td>
                                <td class="text-center">
                                    <div class="price-wrap">
                                        <var class="price">USD{{order.gtotal}}</var>

                                    </div> <!-- price-wrap .// -->
                                    <hr>
                                </td>

                            </tr>


                            </tbody>

                        </table>
                    </div>
                </div>
                <a href="{% url 'courses' %}" class="btn btn-success"> &laquo; {%trans 'Back to Courses'%}</a>

            </aside> <!-- col.// -->
            <aside class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>  {%trans 'Course price:'%}</dt>
                            <dd class="text-right"><strong>USD {{order.total}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>{%trans 'Quantity:'%}</dt>
                            <dd class="text-right"> <strong>{{order.quantity}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>{%trans 'Tax'%} 5%:</dt>
                            <dd class="text-right"> <strong>USD {{order.tax}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>{%trans 'Total'%}:</dt>
                            <dd class="text-right text-dark b"><strong>USD{{order.gtotal}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img height="26" src="{% static 'img/misc/payments.png'%}">
                        </p>


                        <div id="paypal-button-container">                 </div>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div> <!-- container .//  -->
</section>


<script >
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
            var amount = "{{Gtotal}}"
            var url ="{% url 'payments' %}"
            var redirect_url ="{% url 'order_complete'%}"
            var csrftoken = getCookie('csrftoken')
            var detail ="{{order.order_number}}"
            var payment_method = 'PayPal'

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
         style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },


            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    //console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nCongratulation your order has set successfully.\n\n Please waite until you get directed.');
                    sendData();
                     function sendData(){
                      fetch(url,{
                       method : 'POST',
                       headers:{
                            'content-type':'application/json',
                            'X-CSRFToken': csrftoken,
                           // "Authorization": "Bearer Access-Token"
                        },
                        body: JSON.stringify({
                        orderID:detail,
                         transID:transaction.id,
                         payment_method : payment_method,
                          status: transaction.status,
                        }),


                      })
                      .then((response) => response.json())
                        .then((data) => {
                        window.location.href= redirect_url +'?order_number='+data.order_number +'&payment_id='+data.transID
                        });

                     }

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');


</script>

{% endblock %}